<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zcswoole</title>
    <style>
        body {
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div style="padding-top: 200px">
    <h1><a style="font-size: 40px;text-decoration: none;color: #1a1a1a" href="/backend/site/index">{#$msg#}</a></h1>
    <span>Author:&nbsp;&nbsp;&nbsp;wuzhc</span>
    <span>&nbsp;&nbsp;&nbsp;< wuzhc2016@163.com ></span>
    <br>
    <h3><a href="/backend/site/index">demo</a>&nbsp;&nbsp;&nbsp;<a href="https://www.kancloud.cn/wuzhc/zcswoole/727890">文档</a></h3>
</div>
</body>
</html>